@page "/PasswordGen"

<PageTitle>Password</PageTitle>

<center>
<h1>Generate a password</h1>

<br />
<br />

<button class="btn btn-primary" @onclick="PasswordOnly">Click to generate randomized password</button>

<br />
<br />

<p>Your password is: <strong>@newPassword</strong></p>
<CopyToClipboardButton Text="@newPassword" />
</center>


@code {
    string newPassword = "";

    private void PasswordOnly()
    {
        // Import Adjectives
        string[] adjectives = File.ReadAllLines(@"Adjectives.txt");

        // Import Nouns
        string[] nouns = File.ReadAllLines(@"Nouns.txt");

        // Import Symbols
        string[] Symbols = File.ReadAllLines(@"Symbols.txt");

        // Import random number generator
        Random random = new Random();

        int adjectiveNumber = random.Next(0, 39);
        int nounsNumber = random.Next(0, 39);
        int trailingNumber = random.Next(10, 99);
        int symbolNumber = random.Next(0, 9);

        string selectedAdjective = adjectives[adjectiveNumber];
        string selectedNouns = nouns[nounsNumber];
        string selectedSymbol = Symbols[symbolNumber];

        newPassword = selectedAdjective + selectedNouns + trailingNumber + selectedSymbol;
    }
}
